.mainPanel {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 0;
}

.cardsGrid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 24px;
  width: 100%;
  min-width: 0;
}

@media (min-width: 769px) {
  .mainPanel {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .cardsGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
