.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.container {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 14px;
}

.container th,
.container td {
  padding: 12px 16px;
  border-bottom: 1px solid var(--color-border-2);
}

.container thead th {
  border-top: 1px solid var(--color-border-2);
  color: var(--primary-color);
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

.container tbody td,
.container tbody th {
  color: var(--secondary-color);
}

.footerCell {
  padding: 16px 0;
  border-bottom: none !important;
}

.paginationControls {
  display: flex;
  align-items: center;

  gap: 12px;
  width: 100%;
}

.topActions,
.bottomActions {
  width: 100%;
  margin-bottom: 12px;
}

.bottomActions {
  margin-top: 12px;
  margin-bottom: 0;
}

.rangeInfo {
  color: var(--secondary-color);
  font-size: 13px;
}

.paginationActions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.viewAllBtn {
  background: none;
  border: none;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
}

.viewAllBtn:hover {
  text-decoration: underline;
}

.pageButtons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pageBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 28px;
  border: 1px solid var(--color-border-2);
  border-radius: 4px;
  background-color: var(--color-surface-base);
  cursor: pointer;
  font-size: 14px;
}

.pageBtn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.currentPage {
  font-size: 13px;
  color: var(--secondary-color);
}

.link {
  color: var(--accent-color);
}

link:hover {
  border-bottom: 1px solid;
}

.td {
  color: var(--secondary-color);
}
