.mainSummary {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.summaryItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  width: 100%;
}

.summaryText {
  width: 100%;
}

.mainSummary p {
  color: var(--secondary-color);
  font-size: 0.95rem;
}

.mainSummary h2 {
  margin: 0;
  font-size: 1.1rem;
  color: var(--primary-color);
  line-height: 1.2;
}

@media (min-width: 769px) {
  .mainSummary {
    flex-direction: row;
    gap: 24px;
  }

  .summaryItem {
    justify-content: space-between;
  }
}
