.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  width: 100%;
}

.content {
  flex: 1;

  max-width: 100%;
  width: 100%;
  margin: 20px 0 60px;
  padding: 0 24px;

  box-sizing: border-box;
}

.main {
  width: 100%;
}
