.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  width: 100%;

  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar {
  border-top: 1px solid var(--color-border-3);
  padding-top: 32px;
  margin-top: 32px;
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: 1fr 500px;
    gap: 20px;
    padding: 10px;
    align-items: start;
  }
  .sidebar {
    border-top: none;
    border-left: 1px solid var(--color-border-3);
    padding-top: 0;
    margin-top: 0;
    padding-left: 30px;
  }
}
