.header p {
  font-size: 17px;
  color: var(--secondary-color);
}

.header {
  margin-bottom: 50px;
  height: 3.5rem;
}

.header h1 {
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 8px;
}
